In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados.csv')

In [3]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

## Separação das alturas em classes

In [4]:
dados.Altura.min()

1.339244614

In [5]:
dados.Altura.max()

2.028496765

In [6]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixo','2 - Médio','3 - Alto']

In [7]:
frequencia_altura = pd.value_counts(pd.cut(x = dados.Altura,bins = classes, labels = labels, include_lowest=True))

In [8]:
porcentagem_altura = pd.value_counts(pd.cut(x = dados.Altura,bins = classes, labels = labels, include_lowest=True), normalize = True) * 100

In [9]:
dist_freq_altura = pd.DataFrame({'Frequencia' : frequencia_altura, 'Percentual (%)' : porcentagem_altura})

In [10]:
dist_freq_altura.sort_index(ascending = True)

           Frequencia  Percentual (%)
1 - Baixo       20529       26.716554
2 - Médio       36162       47.061426
3 - Alto        20149       26.222020

# Exercício 3-3

In [11]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

## Cálculo média

In [12]:
dataset.Idade.mean()

46.1

In [13]:
dataset.groupby(['Sexo']).Idade.mean()

Sexo
H    45.750000
M    46.333333
Name: Idade, dtype: float64

In [14]:
dataset.Idade.std()

14.184890239656813

In [15]:
dataset.groupby(['Sexo']).Idade.std()

Sexo
H    11.898879
M    16.645320
Name: Idade, dtype: float64